<EditForm Model="@Uom" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <div class="form-group">
        <label>Uom Name</label>
        <div>
            <InputText class="col-md-4 form-control" @bind-Value="@Uom.UomName" />
            <ValidationMessage For="@(() => Uom.UomName)" />
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-dark">
            @ButtonText
        </button>
    </div>


</EditForm>
@code {

    [Parameter] public Uom Uom { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save Uom";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}
